# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Entorno / secretos
.env
*.env
!.env.example

# Node / Vite
node_modules/
dist/
.vite/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
